<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="solutionMapper">
    <!--启用二级缓存-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <!--查询出用户提交的题目-->
    <select id="findUserCmit" parameterType="cn.edu.aust.util.PageUtil" resultType="cn.edu.aust.entity.Solution" useCache="false">
        select s.*,p.title FROM solution s,problem p WHERE p.problem_id = s.problem_id AND user_id = #{stage}
        <if test="search != null">
            AND  s.problem_id LIKE #{search} or s.contest_id LIKE #{search}
        </if>
        ORDER BY solution_id DESC
    </select>
    <!--插入一条solution记录-->
    <insert id="addSolution" parameterType="cn.edu.aust.entity.Solution" >
        <selectKey keyProperty="solution_id" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO solution (solution_id,problem_id,username,user_id,submit_date,language,contest_id)
          VALUES (null,#{problem_id},#{username},#{user_id},now(),#{language},#{contest_id})
    </insert>
    <!--插入一条solutionSource记录-->
    <insert id="addSolutionSource" parameterType="cn.edu.aust.entity.SolutionSource">
        INSERT INTO solution_source VALUES (#{solution_id},#{source})
    </insert>
</mapper>